<nav class="navbar header" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="assets/svg/logo-white.svg" >
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-rounded is-light">
            Button 1
          </a>
          </div>
          <div class="navbar-item">
          <a class="button is-circle is-light">
              <span class="icon">
                  <i [inlineSVG]="'/assets/svg/question-circle.svg'"></i>
              </span>
            </a>
        </div>
        <div class="navbar-item">
          <a class="is-flex is-align-items-center has-text-white">
            <span class="icon mr-1">
              <i [inlineSVG]="'/assets/svg/user-circle.svg'"></i>
            </span>
            <span>Se connecter</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  </nav>