<section class="container mb-4 p-3">
    <div class="columns is-flex-desktop is-align-items-center">
        <div class="column has-text-centered-touch">
            <h3 class="is-size-3 has-text-weight-bold is-family-montserrat">Besoin d'aide ?</h3>
            <p class="has-text-grey-light">Consultez notre aide en ligne ou contactez-nous</p>
        </div>
        <div class="column has-text-centered-touch has-text-right-desktop">
            <a href="" class="button is-purple has-shadow">
                <span class="icon">
                    <i [inlineSVG]="'/assets/svg/question-circle.svg'"></i>
                </span>
                <span>Consulter Le Centre D’aide</span>
            </a>
        </div>
    </div>
</section>

<section class="section has-background-white-ter">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h5 class="is-size-5 has-text-info is-family-montserrat has-text-weight-bold mb-2">À propos de nom</h5>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Nous contacter</a>
                <a href="#" class="is-block is-size-7 mb-1">Presse</a>
                <a href="#" class="is-block is-size-7 mb-1">Besoin d'aide?</a>
                <a href="#" class="is-block is-size-7 mb-1">Notifications frauduleuses (tentatives de
                    phishing)</a>
            </div>
            <div class="column">
                <h5 class="is-size-5 has-text-info is-family-montserrat has-text-weight-bold mb-2">Trouvez votre </h5>
                <div class="columns is-mobile">
                    <div class="column">
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum et Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1 has-text-weight-semibold">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1 has-text-weight-semibold">Lorem Ipsum</a>
                    </div>
                    <div class="column">
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                        <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <h5 class="is-size-5 has-text-info is-family-montserrat has-text-weight-bold mb-2">Recherches fréquentes
                </h5>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum Lorem Ipsum et Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem IpsumLorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
                <a href="#" class="is-block is-size-7 mb-1">Lorem Ipsum</a>
            </div>
        </div>
        <h5 class="is-size-5 has-text-info is-family-montserrat has-text-weight-bold mb-2">Recherche de Lorem Ipsum</h5>
        <a href="#" class="is-size-7 mb-1 mr-5">Lorem Ipsum Lorem Ipsum</a>
        <div class="is-inline-desktop is-block-touch">
            <a href="#" class="is-size-7 has-text-weight-semibold">A</a>
            <a href="#" class="is-size-7 ml-1 ml-md-2 has-text-weight-semibold" *ngFor="let item of alphabets">{{item}}</a>
        </div>
        
    </div>
</section>

<section class="container mt-4 cr">
    <div class="columns is-flex is-align-items-center">
        <div class="column">
            <img class="is-block" src="assets/svg/logo.svg">
            <span class="is-size-7">Copyright © 2021, tous droits réservés.</span>
        </div>
        <div class="column has-text-right">
            <a href="">
                <span class="icon is-medium">
                    <i [inlineSVG]="'/assets/svg/facebook.svg'"></i>
                </span>
            </a>
            <a href="" class="ml-2">
                <span class="icon is-medium">
                    <i [inlineSVG]="'/assets/svg/linkedin.svg'"></i>
                </span>
            </a>
            <a href="" class="ml-2">
                <span class="icon is-medium">
                    <i [inlineSVG]="'/assets/svg/instagram.svg'"></i>
                </span>
            </a>
            <a href="" class="ml-2">
                <span class="icon is-medium">
                    <i [inlineSVG]="'/assets/svg/twitter.svg'"></i>
                </span>
            </a>
        </div>
    </div>
</section>