    <div class="login is-flex is-align-items-center is-justify-content-center">
    <div class="card login-card is-rounded">
        <img class="card-img" src="assets/img/bussinessman.png" alt="">
    <div class="card-content">
    <h5 class="is-size-5 has-text-centered is-family-montserrat has-text-weight-bold mb-5">Nous contacter</h5>
    <div class="columns is-mobile">
        <div class="column">
            <div class="field">
                <label class="label is-size-7">Nom</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Saisir votre nom">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label is-size-7">Prénom</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Saisir votre prénom">
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Lorem Ipsum">
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
            <label class="label is-size-7">Adresse email </label>
                <div class="control">
                    <input class="input" type="text" placeholder="Saisir votre adresse e-mail ">
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
            <label class="label is-size-7">Numéro de téléphone</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Saisir votre numéro de téléphone">
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
            <label class="label is-size-7">Votre message</label>
                <div class="control">
                    <textarea class="textarea" type="text" placeholder="Saisir votre message"></textarea>
                </div>
            </div>
        </div>
    </div>
    <button class="button is-info is-fullwidth">
        <span>Envoyer</span>
        <span class="icon is-small">
            <i [inlineSVG]="'/assets/svg/arrow-right.svg'"></i>
        </span>
    </button>
</div>